*{
    padding: 0;
    margin: 0;
}

body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.top_side{
    position: relative;
    background-color: #24053E;
    width: 100%;
    height: 680px;
    border-radius: 100% 100% 100% 100% / 0% 0% 30% 30%  ;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 5%;
}

.navclss{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.nav-bar a{
    color: #FFFFFF;
    text-decoration: underline;
    text-decoration-color: #44FFA1;
    text-underline-offset: 8px;
    font-family: 'Manrope', sans-serif;
}

.ring1{
    position: absolute;
    top: 100px;
}

.ring1 img{
    width: 100%;
}

.ring2{
    position: absolute;
    left: 93.2%;
    top: 35%;
}

.ring2 img{
    width: 100%;
}

.heading1{
    font-family: 'Fraunces', serif;
    color: #FFFFFF;
    width: 30%;
    font-size: 40px;
    position: relative;
    top: 15%;
    left: 37%;
    text-align: center;
}

.heading1 span{
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
    text-decoration-color: #44FFA1;
}

.lrnmore-btn{
    position: absolute;
    left: 48%;
    top: 45%;
}

.lrnmore-btn button{
    cursor: pointer;
}

.lrnmore-btn button:hover{
    color: #44FFA1;
    background-color: #24053E;
    outline-color: solid;
    box-shadow: 0 0 0 1px #44FFA1;
    transition: 1.5s;
}

.lrnmore-btn button{
    padding: 15px 30px;
    background-color: #44FFA1;
    border: none;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}


.mobile-img{
    width: 50%;
    position: absolute;
    top: 32%;
    left: 27%;

}

.middle_side{
    position: relative;
    background-color: #FCF8FF;
    width: 100%;
    height: 1350px;
    border-radius: 100% 100% 100% 100% / 0% 0% 20% 20%  ;
}

.middle-div{
    display: flex;
    justify-content: center;
    position: relative;
    top:15%;

}

#divswdth{
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #24053E;
}

#divswdth div img{
    padding: 25px;
}

#divswdth div h2 , #divswdth div h2 {
    padding: 25px;
    font-family: 'Fraunces', serif;
    font-weight: 32pt;
}

.prgrph{
    width: 65%;
    font-size: large;
    font-family: 'Manrope', sans-serif;
}

.footer-side{
    margin-top: 400px;
    display: flex;
    justify-content: center;

}

.footer-container{
    width: 34%;
    background-color: #24053E;
    color: #FFFFFF;
    height: 200px;
    padding: 40px;
    text-align: start;
    position: relative;
    right: 5%;
    margin-top: 15%;
}

.lower-side{
    margin-top: 35px;
}

.lower-side button{
    margin-top: 25px;
    padding: 10px 25px;
    background-color: #44FFA1;
    border: none;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}
.lower-side button:hover{
    color: #44FFA1;
    background-color: #24053E;
    outline-color: solid;
    box-shadow: 0 0 0 1px #44FFA1;
    transition: 1.5s;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 700px;
}

footer div{
    padding: 10px;
}

footer img{  
    filter: brightness(0) saturate(100%) invert(7%) sepia(99%) saturate(2406%) hue-rotate(265deg) brightness(84%) contrast(107%);
}

.socialmediaicons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.socialmediaicons i{
    color: #584d62;
}

.socialmediaicons i:hover{
    color: #24053E;
    transition: 1.5s;
}

.applyfracss:hover{
    color: #44FFA1;
    transition: 2.5s;
}

@media screen and (max-width: 1000px) {
    .heading1{  
        width: 60%;
        left: 20%;
        top: 20%;
    }

    .lrnmore-btn{
        left: 40%;
        top: 52%;
    }

    .top_side{
        height: 600px;
    }

    .mobile-img{
        width: 70%;
        left: 15%;
    }

    .middle-div{
        flex-direction: column;
    }

    #divswdth{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .prgrph{
        width: 80%;
        text-align: start;
        margin-left: 4%;

    }

    .inner-side{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .footer-side img{
        width: 55%;
    }

    .footer-img{
        position: absolute;
        left: 6%;
        top: 107%;
    }

    .footer-container{
        width: 55%;
        height: 235px;
        left: 9%;
    }

}

@media screen and (max-width: 400px) {
    .heading1{  
        font-size: x-large;
        width: 80%;
        left: 12%;
        top: 25%;
    }

    .lrnmore-btn{
        left: 35%;
        top: 55%;
    }

    .top_side{
        height: 400px;
    }

    .mobile-img{
        width: 70%;
        left: 15%;
        top: 24%;
    }



    #divswdth{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inner-side{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .prgrph{
        width: 95%;
        text-align: center;
        margin-left: 4%;

    }

    .middle-div{
        top: 7%;
    }

    .middle_side{
        height: 1450px;
    }

    .footer-side img{
        width: 85%;
    }

    .footer-img{
        position: absolute;
        left: 15%;
        top: 104%;
    }

    .footer-container{
        width: 65%;
        height: 300px;
        left: 1%;
        text-align: center;
    }

    .footer-container p{
        font-size: larger;  
    }

    .footer-container button{
        padding: 15px 25px;
    }

}

